body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.header{
    border-bottom: solid #ECECEC 1px;
}
.header-nav {
  margin: 0 auto;
  max-width: 1170px;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  /* margin-bottom: 25px; */
}
.header-nav-list {
  display: flex;
  gap: 50px;
  /* margin-left: 93px;
      margin-right: 344px; */
  color: #212121;
}
.header-nav-list li:hover {
  color: #1a75e8;
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-button {
  display: flex;
  align-items: center;
  gap: 50px;
  color: #757575;
}
.info:hover {
  color: #2196f3;
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nomber:hover {
  color: #2196f3;
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Main */
.main-container{
  margin: 94px auto;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.btn-container{
  min-width: 578px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.button-portfolio{
  padding: 6px 22px;
  background-color: #F5F4FA;
  border-radius: 4px;
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  border: none;
}
.button-portfolio:hover{
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-portolio-container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.portfolio-card{
  display: flex;
  flex-direction: column;
  max-width: 370px;
  max-height: 404px;
  overflow: hidden;
  border: 1px solid #EEE;
}
.portfolio-titles{
  background-color: #FFF;
  padding: 20px 24px;
}
.portfolio-card-title{
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  width: 322px;
}
.portfolio-span{
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.portfolio-text{
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.90);
}
.overlay-text{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  transition: linear 500ms;
}
.portfolio-card{
  position: relative;
}
.portfolio-card:hover{
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover .overlay-text{
  transform: translateY(0);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* FOOTER */
.footer {
  background: #2f303a;
  padding: 60px 0;
  padding-left: 215px;
}
.adress {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.info-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-container {
  max-width: 231px;
}