body{
    font-family: 'Roboto', sans-serif;
    font-weight:700;
}
.wrapper{
    margin: 0 auto;
 }
/* стилі навігаціі */
.header{
   
}
.header-nav{
    margin: 0 auto;
    max-width: 1170px;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    /* margin-bottom: 25px; */
}
.header-nav-list{
    display: flex;
    gap: 50px;
    /* margin-left: 93px;
    margin-right: 344px; */
    color: #212121;
}
.header-nav-list li:hover{
    color: #1A75E8;
}
.header-nav-button{
    display: flex;
    align-items: center;
    gap: 50px;
    color: #757575;
}
.info:hover{
    color: #2196F3;
}

.nomber:hover{
    color: #2196F3;
}
/* .header-logotup{
    margin-left: 215px;
}
.nomber{
    margin-right: 215px;
} */
/* большая чорная штука */
.header-main-container{
    max-width: 696px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-main{
    padding: 200px 452px 280px 452px;
    background: #2F303A;
}
.header-main-title{
    width: 696px;
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
}
.header-main-btn{
    width: 216px;
    height: 50px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 30px;
}
/* main */
.container{
    /* height: 766px; */
    background-color: #FFF;
    max-width: 1600px;
    /* padding: 94px 215px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 94px 215px; */
}
.section-1-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 94px 0;
    margin-bottom: 94px;
}
.section-1-card{
    width: 270px;
    height: 98px;
    font-size: 14px;
}
.card-title{
    font-weight: 700;
    color: #212121;
    margin-bottom: 10px;
}
.card-text{
    color: #757575;
    line-height: 24px;
}
.main-section-1{
    max-width: 1600px;
}
.main-section-2{
    margin-top: 94px;
    display: flex;
    flex-direction: column;
    height: 386px;
    margin-bottom: 94px;
}
.box-svg{
    border-radius: 4px;
    background: #F5F4FA;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 270px;
    height: 120px;
    padding: 25px 100px;
    margin-bottom: 30px;
}
.advantages-photo{
    /* padding: 25px 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.section-2-title{
    margin-bottom: 50px;
    text-align: center;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}
.photo2-container{
    position: relative;
}
.photo2-title{
    position: absolute;
    left: 0;
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(47, 48, 58, 0.80);
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
/* our-company */
.our-company-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.our-company{
    background:  #F5F4FA; 
    padding: 94px 0;
}
.our-company-team{
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
.people-img{
    width: 270px;
    height: 260px;
}
.our-team{
    display: flex;
    gap: 30px;
}
.people-card{
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.people-title{
    color: #212121;
    font-size: 16px;
    font-weight: 500;
}
.people-job{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
.people{
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
}
/* footer */
.footer{
    background: #2F303A;
    padding: 60px 0;
    padding-left: 215px;
}
.adress{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}
.info-footer{
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 400;
}
.footer-list{
   display: flex; 
   flex-direction: column;
   gap: 9px;
}
.footer-logo{
    margin-bottom: 20px;
}
.footer-container{
    max-width: 231px;
}