$colorTextLinkHoverBtn: #2196f3;
$colorTitlesNav:#212121;
$colorText: #757575;
$TitleAdressBtn:#FFF;
$bakcgraundOurPeople: #f5f4fa;
$backgraundPortfolioOverlay:rgba(33, 150, 243, 0.90);
$colorbackdrop: rgba(0, 0, 0, 0.167);
$backgraundFooter: #2f303a;
$infoFooter: rgba(255, 255, 255, 0.6);
$borderColor: rgba(33, 33, 33, 0.2);