$colorTextLinkHover: #2196f3;
$colorTitlesNav:#212121;
$colorText: #757575;
$advantagesHeaderTitle:#FFF;
$colorbtn:#FFF;
$backgraundcolor:#FFF;
$colorRegestrationBakcgraund:#2f303a;
$bakcgraundOurPeopleCard:#FFF;
$bakcgraundOurPeople: #f5f4fa;
$backgraundPortfolioOverlay:rgba(33, 150, 243, 0.90);
$backgrauntBtn:#2196f3;
$colorbackdrop: rgba(0, 0, 0, 0.167);
$backgraundFooter: #2f303a;
$adressFoter: #fff;
$infoFooter: rgba(255, 255, 255, 0.6);
$borderColor: rgba(33, 33, 33, 0.2);
